name: Check
on: push
jobs:
  spelling-en:
    name: Spelling (en)
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Install dependencies
        run: make install-yarn
      - name: Spelling (en)
        run: make check-spelling-en

  spelling-fr:
    name: Spelling (fr)
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Install dependencies
        run: make install-yarn
      - name: Spelling (fr)
        run: make check-spelling-fr
